In [1]:
print('hello bokir')

hello bokir

# Basic Python

## String

In [1]:
print("Bokir")
print(type("Bokir")) #cek type data

Bokir
<class 'str'>

In [2]:
print('''Bokir
Tangerang
Selatan''')

Bokir
Tangerang
Selatan

In [3]:
print('Bokir \
Tangerang')

Bokir Tangerang

In [4]:
print('Bokir \n Tangerang')

Bokir
 Tangerang

## Interger

In [6]:
print(2)
print(type(2)) #cek type data

2
<class 'int'>

In [8]:
print('2' + '2') #pengabungan 2 str

22

In [7]:
print(2 + 2) #operasi penjumlahan

4

In [9]:
angka_pertama= 2

In [10]:
print('angka:', angka_pertama)

angka: 2

## float

In [15]:
print(1.2)
print(type(1.2)) #cek type data

1.2
<class 'float'>

In [12]:
print('angka' + '1.2')

angka1.2

In [13]:
print(2 + 1.2)

3.2

In [16]:
print(4.2e-4)

0.00042

## Comments

In [17]:
# print hello
print("hello") # print hello

hello

In [18]:
'''print hello'''
print("hello")

hello

## Bool

In [19]:
print(bool(2))

True

## casting & comments

In [20]:
x= str(2) # ubah int ke dalam str
print(type(x))

<class 'str'>

In [21]:
x = int(2)
y = int(3.8)
z = int("4")
k= round(3.8) #untuk menjadikan bilangan bulat
print(x, y, z, k)

2 3 4 4

In [22]:
z+x

6

In [23]:
x = 2
z = '2' #string

print(int(z) + x)

4

In [24]:
x = 2.2
y = 2 

z = x + y
print(x)
print(z)

2.2
4.2

## Float

In [25]:
x = round(5.76543, 2) #setting jumlah digit setelah koma
# y = float(5.76543, 2) #tidak bisa penggunaan float seperti ini
print(x)
# print(y)

5.77

In [26]:
x = float(2)
y = float(3.8)
z = float("4")
print(x, y, z)

2.0 3.8 4.0

In [1]:
# hitung luas tanah
panjang= 20
lebar= 30

print(panjang * lebar)

600

In [2]:
panjang * lebar

600

## Variable

In [3]:
x = 32.2
y = int(31)
z = 33

print(type(x))
print(y)
print(float(z))

<class 'float'>
31
33.0

In [5]:
Var1 = 'Dede'
Var2 = 'Riyanto'

In [6]:
x, y, z = "Dede", "Riyanto", "Bokir"
print(x) 
print(y) 
print(z)

Dede
Riyanto
Bokir

In [8]:
x = y = z = "Dede"
print(x) 
print(y) 
print(z)

Dede
Dede
Dede

## Multi words Variable Names

In [9]:
#Camel Case
myVariableName = "Dede"

#Pascal Case
MyVariableName = "Dede"

#Snake Case
my_variable_name = "Dede"

## Operator

In [1]:
a = 10
b = 20 
a + b

30

In [2]:
a = 10
b = 20 
a + b - 5

25

### Aritmetic Operator

In [1]:
# Here are some examples of these operators in use:

a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [2]:
# The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor:

10 / 5

2.0

### Comparison Operator

In [3]:
# Here are examples of the comparison operators in use:

a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)


a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
True
True
True

### String Manipulation

In [4]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)


print('Hacktiv8 ' + 'Inalum')

foobar
foobarbaz
Hacktiv8 Inalum

In [5]:
# * Operators

s = 'foo.'

s * 4

'foo.foo.foo.foo.'

In [6]:
# in Operators

s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [7]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

### Slicing

In [9]:
a = 'Dede Riyanto' 
print(a[3]) #akses string
print(len(a)) #mengetahui panjangan atau lebih dari string
print("Riyan2" in a) #check string 
print("kenshin" not in a)

e
12
False
True

In [10]:
print(a[:]) #dari indeks 0 samapai akhir

Dede Riyanto

In [11]:
print(a[-1]) #indeks akhir
print(a[-5:-2]) #slicing str dari indeks -5 sampai -3
print(a[:-8]) #dari awal sampai indeks -9 
print(a[-4:]) #dari indeks -4 sampai akhir 
print(a[-10:-5:2]) #dari indeks -10 sampai -6, step 2 (penambahan 2 setiap indeks)

o
yan
Dede
anto
d i

### format string

In [14]:
#penggunaan string format
umur = 25
txt ="hallo, umur saya adalah {}"
print(txt.format(umur))

hallo, umur saya adalah 25

In [18]:
nama = 'dede'
umur = 25
txt ="hallo, nama saya {}, umur saya adalah {}"
print(txt.format(nama, umur)) #cetak bedasarkan urutan arguments

hallo, nama saya dede, umur saya adalah 25

In [2]:
txt = "harganya harga {price:.2f} rupiah!" #jadikan ke float
print(txt.format(price = 490000))

harganya harga 490000.00 rupiah!

In [3]:
nama = "dede"
umur = 25 
tinggi = 168.5 
print("%s berumur %d, memiliki tinggi %.2f" % (nama, umur, tinggi)) #dengan %

dede berumur 25, memiliki tinggi 168.50

### list

In [1]:
list1 = ["mobil", "motor", "becak", "sepeda", "pesawat", "kapal laut"]
list2 = [1, 2, 3, 4, 5 ]
list3 = [1, 3.4, 'a string', True]
print(list1)
print(list2)
print(list3)
print(len(list3))
print(type(list3))

['mobil', 'motor', 'becak', 'sepeda', 'pesawat', 'kapal laut']
[1, 2, 3, 4, 5]
[1, 3.4, 'a string', True]
4
<class 'list'>

In [4]:
list1 = ["mobil", "motor", "becak", "sepeda", "pesawat", "kapal laut"]
print(list1[0])
print(list1[1:2]) #start indek 1, end indek 2
print(list1[1:3])
print(list1[1:6:2]) #start indek 1, end indek 6 tidak included, stepnya 2
print(list1[-1]) #start dari belakang (indek -1)
print(list1[-4:-2]) #start indek -4, end -2
print(list1[-6:-2:2])

mobil
['motor']
['motor', 'becak']
['motor', 'sepeda', 'kapal laut']
kapal laut
['becak', 'sepeda']
['mobil', 'becak']

In [5]:
if "sepeda" in list1:
    print("yoyoi, 'sepeda' adalah dalam list1")

yoyoi, 'sepeda' adalah dalam list1

### Change item value

In [7]:
list1 = ["mobil", "motor", "becak", "sepeda", "pesawat", "kapal laut"]
list1[1] = "bemo" #ubah index 1
print(list1)

['mobil', 'bemo', 'becak', 'sepeda', 'pesawat', 'kapal laut']

In [9]:
list1[1:3] = ["gojek", "grab"] # 2 index jadi 2 nilai
print(list1)

['mobil', 'gojek', 'grab', 'sepeda', 'pesawat', 'kapal laut']

In [10]:
list1[1:3] = ["grab2"] # 2 index jadi 1 nilai saja
print(list1)

['mobil', 'grab2', 'sepeda', 'pesawat', 'kapal laut']

### Add List Items

In [21]:
list1 = ["mobil", "motor", "becak", "sepeda", "pesawat", "kapal laut"]

In [22]:
list1.insert(1, "gojek") #tambahkan nilai di spesifix index
print(list1)

['mobil', 'gojek', 'motor', 'becak', 'sepeda', 'pesawat', 'kapal laut']

In [23]:
list1.append('honda')
print(list1)

['mobil', 'gojek', 'motor', 'becak', 'sepeda', 'pesawat', 'kapal laut', 'honda']

In [25]:
tropical = ["mango", "pineaple", "papaya"]

In [27]:
list1.append(tropical) #tambahkan di akhir list
print(list1)

['mobil', 'gojek', 'motor', 'becak', 'sepeda', 'pesawat', 'kapal laut', 'honda', ['mango', 'pineaple', 'papaya']]

In [28]:
#To append elements from another list to the current list, use the extend() method. 
thislist = ["apple", "banana", "cherry"]
tropical = ("mango", "pineapple", "papaya")
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### Remove Specified Item

In [29]:
thislist = ["apple", "banana", "cherry", "mango"]
thislist.remove("banana") #hapus spesifik value
print(thislist)

thislist.pop(1) #hapus spesifik index
print(thislist)

thislist.pop() #hapus last index (index terakhir)
print(thislist)

['apple', 'cherry', 'mango']
['apple', 'mango']
['apple']

In [31]:
thislist = ["apple", "banana", "cherry", "mango"]
del thislist[0] #delete spesifik index
#jika thislist (hapus seluruh list)
print(thislist)

['banana', 'cherry', 'mango']

In [32]:
thislist = ["apple", "banana", "cherry", "mango"]
thislist.clear() #hapus dalam list
print(thislist)

[]

### Sort, Sorted & Reserve List

In [34]:
#angka => huruf besar => kecil
a = ['a', 'B', 'c', '2']
print(min(a))
print(max(a))

2
c

In [37]:
thislist = ["orange", "mango", "kiwi", "pineapple"]
thislist.sort()
print(thislist)

['kiwi', 'mango', 'orange', 'pineapple']

In [38]:
#urutkan nilai dari angka => huruf besar => huruf kecil
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [39]:
thislist = ["banana", "Orange", "Kiwi", "cherry", "mango"]
thislist.sort(key = str.lower) #menggunakan str.lower agar tidak case sensitive
print(thislist)

['banana', 'cherry', 'Kiwi', 'mango', 'Orange']

### Copy

In [40]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy() # copy tidak akan mempengaruhi list aslinya
mylist[1] = 'mango'
print(mylist)
print(thislist)

['apple', 'mango', 'cherry']
['apple', 'banana', 'cherry']

In [41]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist # jika langsung = dan tidak menggunakan copy, akan berpengaruh ke list aslinya
mylist[1] = 'mango'

print(mylist)
print(thislist)

['apple', 'mango', 'cherry']
['apple', 'mango', 'cherry']

In [42]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist) #mengcopy list dengan built-in method list ()
print(mylist)

['apple', 'banana', 'cherry']

### Join Lists

In [1]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [2]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3] 

for x in list2:
    list1.append(x)
    # print (list1)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [3]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3] 

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### Tuple
#### is unchangeable

In [4]:
thistuple = ("apple", "banana", "cherry", "mango")
print(thistuple)

('apple', 'banana', 'cherry', 'mango')

#### Access Tuple Items

In [5]:
thistuple = ("apple", "banana", "cherry", "mango")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[1:3:1])

banana
mango
('cherry', 'mango')
('apple', 'banana', 'cherry', 'mango')
('banana', 'cherry')

#### Update Tuples

In [6]:
x = ("apple", "banana", "cherry")
print(type[x])

y = list(x) #cara jika ingin mengubah isi tuple adalah mengubah list

y[1] = "kiwi" #ubah index 1 dengan kiwi
x = tuple(y)

print(x)

type['apple', 'banana', 'cherry']
('apple', 'kiwi', 'cherry')

In [7]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("durian")
thistuple = tuple(y) 

print(thistuple)

('apple', 'banana', 'cherry', 'durian')

In [10]:
thistuple = ("apple", "banana", "cherry")
y = ("durian",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'durian')

#### Remove Items

In [11]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("banana")
thistuple = tuple(y)
print(thistuple)

('apple', 'cherry')

### Set

In [21]:
myset = ("apple", "durian", "cherry", "orange")

print(type(myset))
print(len(myset))
print(myset)

<class 'tuple'>
4
('apple', 'durian', 'cherry', 'orange')

### Access Items

In [19]:
thisset = {"apple", "banana", "durian"}

for x in thisset:
    print(x) #hasil output bisa berubah-ubah karena unordered

durian
apple
banana

### Add Items

In [18]:
thisset = {"apple", "banana", "durian"}

thisset.add("orange")

print(thisset)

{'durian', 'apple', 'banana', 'orange'}

In [22]:
thisset = {"watermelon", "apple", "durian"}
tropical = {"papaya", "banana", "orange"}

thisset.update(tropical)

print(thisset)

{'apple', 'papaya', 'banana', 'durian', 'watermelon', 'orange'}

### Remove Item

In [24]:
thisset = {"apple", "banana", "watermelon", "durian", "mango"}
thisset.remove("banana")

print(thisset)

{'durian', 'apple', 'mango', 'watermelon'}

In [25]:
thisset = {"apple", "banana", "watermelon", "durian", "mango"}
thisset.discard("watermelon")

print(thisset)

{'durian', 'apple', 'banana', 'mango'}

In [27]:
thisset = {"apple", "banana", "watermelon", "durian", "mango"}

x = thisset.pop()

print(x)

print(thisset)

durian
{'apple', 'banana', 'mango', 'watermelon'}

In [28]:
thisset = {"apple", "banana", "watermelon", "durian", "mango"}

thisset.clear()

print(thisset)

set()

### Dictionaries

In [30]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}
print(thisdict)
print(len(thisdict))

{'brand': 'Mercedes', 'model': 'Mclaren', 'year': '2012'}
3

In [32]:
#crate dictionary
# Definition of countries and capitalizations
countries = ['italia', 'england', 'spain', 'germany']
capitals = ['roma', 'london', 'madrid', 'berlin']

#from string in countries and capitals, crate dictionary europe and
europe = {'italia':'roma', 'england':'london', 'spain':'madrid', 'germany':'berlin'}
#print europe
print(europe)

{'italia': 'roma', 'england': 'london', 'spain': 'madrid', 'germany': 'berlin'}

In [35]:
#get index of 'germany' : ind_ger
ind_ger = countries.index('germany')

#use ind_ger to print out capital of germany
print(capitals[ind_ger])

berlin

#### Access Items

In [36]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}
x = thisdict["model"]
y = thisdict.get("model")

print(x)
print(y)

Mclaren
Mclaren

In [37]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
} 

x = thisdict.keys() #untuk mendapatkan keys

print(x)

dict_keys(['brand', 'model', 'year'])

In [38]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}

x = thisdict.values() #untuk mendapatkan values

print(x)

dict_values(['Mercedes', 'Mclaren', '2012'])

In [39]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}

x = thisdict.items() #untuk mendapatkan items

print(x)

dict_items([('brand', 'Mercedes'), ('model', 'Mclaren'), ('year', '2012')])

In [40]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}
if "model" in thisdict:
    print("Yoyoi, 'model' is one of the keys in the thisdict dictionary")

Yoyoi, 'model' is one of the keys in the thisdict dictionary

#### Change Values

In [41]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}

thisdict["year"] = 2017

print(thisdict)

{'brand': 'Mercedes', 'model': 'Mclaren', 'year': 2017}

In [42]:
thisdict.update({"year":2021})

print(thisdict)

{'brand': 'Mercedes', 'model': 'Mclaren', 'year': 2021}

#### Adding Items

In [43]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}
thisdict["color"] = "red" #tambahkan key dan value
print(thisdict)

{'brand': 'Mercedes', 'model': 'Mclaren', 'year': '2012', 'color': 'red'}

#### Removing Items

In [44]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}
thisdict.pop("model") #hapus item tertentu
print(thisdict)

{'brand': 'Mercedes', 'year': '2012'}

In [45]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}
thisdict.popitem() #hapus item terakhir
print(thisdict)

{'brand': 'Mercedes', 'model': 'Mclaren'}

In [46]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}
thisdict.clear()
print(thisdict)

{}

In [47]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}
del thisdict["model"]
print(thisdict)

{'brand': 'Mercedes', 'year': '2012'}

In [ ]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}
del thisdict
print(thisdict) # tidak bisa karena akan eror

#### Copy a Dictionary

In [48]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Mercedes', 'model': 'Mclaren', 'year': '2012'}

In [49]:
thisdict ={
    "brand" : "Mercedes",
    "model" : "Mclaren",
    "year" : "2012"
}
mydict = dict(thisdict = mydict)
print(mydict)

{'thisdict': {'brand': 'Mercedes', 'model': 'Mclaren', 'year': '2012'}}

#### Nested Dictionaries

In [50]:
people = {1: {'name': 'Bokir', 'age':'27', 'gender': 'male'}, 
        2: {'name': 'zaenab', 'age':'21', 'gender': 'female'}}

print(people[1]['name'])
print(people[1]['age'])
print(people[1]['gender'])

print(people[2]['name'])
print(people[2]['age'])
print(people[2]['gender'])

Bokir
27
male
zaenab
21
female

In [54]:
people = {1: {'name': 'Bokir', 'age':'27', 'gender': 'male'}, 
        2: {'name': 'zaenab', 'age':'21', 'gender': 'female'}}

people[3] = {}

people[3]['name'] = 'luna'
people[3]['age'] = '23'
people[3]['gender'] = 'female'
people[3]['maried'] = 'no'

print(people)

print(people[3])

{1: {'name': 'Bokir', 'age': '27', 'gender': 'male'}, 2: {'name': 'zaenab', 'age': '21', 'gender': 'female'}, 3: {'name': 'luna', 'age': '23', 'gender': 'female', 'maried': 'no'}}
{'name': 'luna', 'age': '23', 'gender': 'female', 'maried': 'no'}

In [57]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77},
        'italy': {'capital':'rome', 'population':66.03},
        'france': {'capital':'paris', 'population':59.83},
        'germany': {'capital':'berlin', 'population':80.62}}

# Print out the capital of Italy
print(europe['italy']['capital'])

#crate sub-dictionary data 
data = { 'capital':'oslo', 'population':5.084 }

#add data to europe under key 'norway'
europe['norway'] = data

#print europe
print(europe)

rome
{'spain': {'capital': 'madrid', 'population': 46.77}, 'italy': {'capital': 'rome', 'population': 66.03}, 'france': {'capital': 'paris', 'population': 59.83}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}}

## Line Continuation

In [58]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [59]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True